<h1>Careers</h1>
<br>
<br>
<p>positions you can apply for today</p>
<br>
<br>
<br>
<br>
<p>Ruby on Rails Developer</p>
<li><%= link_to "Apply Now", careers_ruby_path %></li>
<p>Senior PostgresSQL DBA</p>
<li><%= link_to "Apply Now", careers_postgress_path %></li>
<p>Operations Derectors</p>
<li><%= link_to "Apply Now", careers_director_path %></li>
<p>product manager -sme</p>
<li><%= link_to "Apply Now", careers_sme_path %></li>
<p>product manager -consumer</p>
<li><%= link_to "Apply Now", careers_consumer_path %></li>